body {
    margin: 0;
    background-color: rgb(145, 182, 154);
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.headline-main {
    margin-top: 32px;
}

.kanban-board {
    margin-top: 54px;
    display: flex;
    justify-content: space-around;
    gap: 32px;
    max-width: 1600px;
    height: 100%;
}

.todo-done {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 32px;
}

.nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 32px;
    background-color: rgb(145, 182, 154) !important;
}

.nav-card {
    height: calc((580px - 2 * 32px)/3);
    cursor: pointer;
    text-decoration: none;
    color: black;
}

.nav-card :hover {
    text-decoration: none;
    color: black !important;
}

.center-title {
    margin-top: 4px;
    text-align: center;
}

.element-content {
    box-sizing: border-box;
    padding-top: 32px;
    background-color: white;
    border-bottom-left-radius: 0.375rem;
    border-bottom-right-radius: 0.375rem;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.element-content::-webkit-scrollbar {
    display: none;
}

.change-background-greyish {
    background-color: rgb(167, 167, 167);

}

.board-element {
    margin-top: 16px;
    width: 280px;
    height: 580px;
}

.element-headline {
    margin-top: 8px;
}

.backlog-button {
    position: absolute;
    top: 8px;
    left: 217px;
}
.arrow-button{
    display: none;
    padding: 2px;
}

.offcanvas-wrapper-drop {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
}

.dropzone {
    margin-top: 32px;
    padding: 16px;
}

.ticket-buttons {
    display: flex;
    justify-content: space-between;
}

.headline-name {
    text-align: center;
}

.sub-card {
    width: 240px;
    max-height: 142px;
    cursor: pointer;
    margin-bottom: 16px;
}

.form-resize-off {
    resize: none;
}

.drag-over {
    filter: brightness(90%) saturate(120%);
}

.priorityhigh {
    background-color: rgba(255, 0, 0, 0.2);
    border-radius: 4px;
    margin-left: -4px;
    padding-left: 4px;
}

.priorityintermediate {
    background-color: rgba(255, 255, 0, 0.2);
    border-radius: 4px;
    margin-left: -4px;
    padding-left: 4px;
}

.prioritylow {
    background-color: rgba(0, 255, 0, 0.2);
    border-radius: 4px;
    margin-left: -4px;
    padding-left: 4px;
}

.offcanvas.offcanvas-end {
    width: 80% !important;
}

.offset-wrap {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
}

.collapsing {
    -webkit-transition: none;
    transition: none;
    display: none;
}

@media (pointer: coarse) {

    /*nur bei touchscreen*/
}

@media(max-width:1600px) {

    .kanban-board {
        margin-top: 24px;
        flex-direction: column-reverse;
    }

    .nav-card {
        width: 300px;
    }

    .nav {

        height: 135px ;
        width: 100% !important;
        flex-direction: row;
        justify-content: space-between;
        gap: 32px;
    }

}

@media(max-width:1300px) {

    .sub-card {
        width: 200px;
        max-height: 142px;
        cursor: pointer;
        margin-bottom: 16px;
    }

    .board-element {
        width: 232px;
    }

}


@media(max-width:1100px) {

    .kanban-board {
        gap: 8px;
    }

    .sub-card {
        margin-bottom: 0;
    }

    .todo-done {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    .board-element {
        margin: 0;
        width: fit-content;
        height: fit-content;
        display: flex;
        flex-direction: row;
    }

    .element-content {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0.375rem;
        border-top-right-radius: 0.375rem;
        width: 650px;
        height: 174px;
        display: flex;
        flex-direction: row;
        gap: 8px;
        padding-top: 16px;
    }

    .element-headline {
        width: 54px;
    }

    .headline-name {
        margin-left: -56px;
        margin-top: 44px;
        width: 200px;
        height: 72px;
        transform: rotate(-90deg);
    }

    .nav {
        gap: 16px;
        margin-bottom: 32px;
    }

    .small {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        border-bottom-left-radius: 0.375rem;
        border-bottom-right-radius: 0.375rem;
        border-top-right-radius: 0;
    }

    .nav-card {
        width: 220px;
        height: 150px;
    }

}

@media(max-width:730px) {


    .board-element {
        flex-direction: column !important;
        width: 230px;
        height: 540px;
    }

    .headline-name {
        margin-left: 0px;
        margin-top: 0px;
        width: 230px;
        height: 36px;
        transform: rotate(0deg);
    }

    .element-headline {
        width: 240px;
    }

    .element-content {
        width: 230px;
        flex-direction: column;
        border-bottom-left-radius: 0.375rem;
        border-bottom-right-radius: 0.375rem;
        border-top-right-radius: 0;
    }

    .todo-done {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap:16px;
    }

    .nav-card {
        width: 230px;

    }

    .small {

        width: 230px !important;
 
    }
    .nav{
        align-items: center;
        flex-wrap: wrap;
        height: auto;
    }
}

@media (pointer: coarse){
    .arrow-button{
    display: block;
    }
    .dropzone {display:none;}
}

